@import 'spacing';
@import './node_modules/bulma/bulma';
@import "mixins";
$color: $light;

html {
	overflow-y: overlay;
	@include custom-scrollbars(0.25rem, $primary, transparent);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: darkslategrey;
	color: $color;
}

h1 {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
}
