@import 'spacing';
@import './node_modules/bulma/bulma';
$color: aliceblue;

html {
	overflow-y: auto;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-width: 100vw;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: darkslategrey;
	color: $color;
}

h1 {
	padding-top: 5rem;
	display: flex;
	justify-content: center;
}
